/* starting */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: none;
}

body{
    background: aliceblue url(./puplic/herbs-906140_1280.jpg) no-repeat  fixed center ;
    backdrop-filter: blur(1px);
}

body,
.welcome,
.sign-in,
.sign-up,
.visitor,
.sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* the welcoming message */
.welcome{
    margin: 100px 5px 20px 5px;
    background-color: rgb(245,255,250, 0.5);
}

.welcome > *{
    padding: 0 10px;
    margin: 5px;
    margin-inline: auto;
}

.description{
    font-size: 20px;
}

/* the fieldstes and their legends and buttons */
.sign-in,
.sign-up,
.visitor,
.sub{
    background-color: rgb(255, 255, 255, 0.5);
    margin-bottom: 20px;
    padding: 20px;
    width: min(80%, 600px);
}

.sign-in > *,
.sign-up > *,
.visitor > *,
.sub > *{
    margin-top: 7px;
    font-size: 20px;

}

.sign-in > legend,
.sign-up > legend,
.visitor > legend,
.category{
    font-size: 20px;
    font-weight: 700;
    margin-inline: auto;
    padding-inline: 5px;
}

.sign-in > button,
.sign-up > button,
.visitor > button,
.sub > button{
    padding: 10px;
    font-size: 15px;
    border-radius: 15px;
}

/* the buttons for each box */
.links > button{
    border: none;
    font-size: 20px ;
    margin-bottom: 30px;
    margin-inline: 2px;
    cursor: pointer;
}

/* the age fieldset of sign up  */
.age-category{
    padding: 10px;
    width: 40%;
    gap: 20px;
}

.age-category > label{
    display: inline-block;
}

.age-category > label{
    margin-inline: 20px;
}

/* checkbox  and radio buttons color */
input[type='checkbox'],
input[type='radio']{
    accent-color: lime;

}

/* the labels with the text inputs for sign in and sign up*/
.sign-in-divs{
    width: 65%;
}

.sign-in-divs > label{
    display: inline-block;
    width: 100px;
}

.sign-up-divs{
    width: 75%;
}

.sign-up-divs > label{
    display: inline-block;
    width: 160px;
}


/* newslatter */
.newsletter{
    font-size: 25px;
}

.follower-label > input{

    font-size: 20px;
}

.follower{
   padding: 10px;
   border-radius: 15px;
   font-size: 15px;
}


/* 
.sign-in,
.visitor,
.sign-up,
.sub{
    display: none;
} */



/* valid and invalid forms */

.sign-in input:valid,
.sign-up input:valid{
    background-color: green;
}

.sign-in input:invalid,
.sign-up input:invalid{
    background-color: red;
}